$primary: #0071ce;
$secondary: #ff5100;
$font-family-base:'Comfortaa', 'Helvetica', sans-serif;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 900px
);
@import "scss/bootstrap/bootstrap.scss";
$primary-dark:  mix($primary,$black);

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	letter-spacing: 0.05rem;
}

body{
	padding: 0;
	margin: 0;
}
.navbar-wrapper{
	padding: 15px;
}
.navbar{
	height: 4rem;
	vertical-align: middle;
	line-height: 4rem;
	padding: 1rem 0;
	border-radius: 2rem;
	box-shadow: 0 0 1rem mix(mix($black, transparent), transparent);
	align-items: normal;
	padding: 0;
	.navbar-brand{
		height: 4rem;
		vertical-align: top;
		padding: 0;
		padding-right: 1rem;
		padding-left: 1rem;
		margin: 0;
		border-bottom-left-radius: 2rem;
		border-top-left-radius: 2rem;
		
		.navbar-logo{
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			
			transition: all 0.5s ease-in-out;
		}
		
		&:hover{
			background-color: $primary-dark;
			transition: background-color ease-in-out 0.2s;
			.navbar-logo{
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}

		.navbar-title{
			display: inline-block;
			position: relative;
			bottom: -0.2rem;
		}	
	}
	
	
	.nav-item{
		border-left: 1px solid $primary-dark;
		
		&:last-of-type{
			border-right: 1px solid $primary-dark;
		}
		
		.nav-link{
			padding: 0 1rem;
			
				&:hover{
			background-color: $primary-dark;
					transition: background-color ease-in-out 0.2s;
					color: $white;
		}
		}
		
	}
	
	.nav-link span{
		position: relative;
		bottom: -0.2rem;
		color: $white;
	}
	
	.navbar-toggler{
		    margin: 0.5rem;
		width: 3rem;
    height: 3rem;
		padding: 0.5rem;
		border-radius: 50%;
	}
	
}



@media (max-width: 768px){
	.navbar-collapse{
		width: 100%;
		box-shadow: 0 0.5rem 1rem mix(mix($black, transparent), transparent);
	}
	.navbar-nav{
		background-color: $white;
	}
	.navbar .nav-item{
		border: none;
		width: 100%;

		&:last-of-type{
			border: none;
		}
		.nav-link{
			padding: 0 1rem;
			span{

				color: $black;

			}
		&:hover{
			background-color: $secondary;
			span{
				color: $white;
			}
		}
		}
	}
	
	.navbar-wrapper{
		padding: 0;
	}
	
	.navbar{
		border-radius: 0;
		.navbar-brand{
			border-radius: 0;
			&:hover{
				background-color: transparent;
			}
		}
	}
	

}

#defaultCanvas0{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(4px);
}

.splash-container{
	box-shadow: 0 0 5rem mix(mix(mix($black, transparent), transparent),transparent) inset;
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.splash-logo-o{
	background-image: url(/assets/images/podcoin.svg);
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	margin: 0.3rem 0.4rem 0 0.5rem;
	font-size: 0;
	vertical-align: top;
}

.splash-wrapper{
	h1{
		font-size: 4rem;
	}
}
@media (max-width: 768px){
	.splash-wrapper{
		h1{
			font-size: 1.8rem;
		}
	}
	
	.splash-logo-o{
		width: 1.6rem;
		height: 1.6rem;
		margin: 0.12rem 0.1rem 0 0.15rem;
		font-size: 0;
		vertical-align: top;
	}
	
}


.page-section{
	min-height: 33vh;
    display: flex;
    align-items: center;

	.container .row{
		padding-bottom: 1.5rem;
	}
	
	.container .row:last-child{
		padding-bottom: 0;
	}
}

.faq-list{
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		h5{
			font-weight: bold;
		}
		margin-top: 1.5rem;
		padding-bottom: 0.5rem;
		
		&:first-of-type{
			margin-top: 1rem;
		}
	}
	
}